*,*::before,::after{
   box-sizing: border-box;
   
}
*::-webkit-scrollbar{
   width: 0px;
}
html{
   --primary-col:#09A76B;
   --white:#fff;
   --milk-white:#f7f7f7;
   --faded-black:#0003;
}
body{
   margin: 0;
   padding: 0;
   line-height: 1.2;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid{
   display: grid;
}
.col--2{
   grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
}
a{
   color: inherit;
   font-size: inherit;
   font-weight: inherit;
   text-decoration: none;
   cursor: pointer;
}
img{
   max-width: 100%;
   max-height: 100%;
}
.btn--link{
   padding:0.875rem 1.5rem;
   text-align: center;
   background-color: var(--primary-col)!important;
   color: #fff!important;
   text-transform: capitalize;
   font-size: 1.2rem;
   font-weight: 500;
   display: inline-block;
   margin: 1rem 0;
   border-radius: 2rem;
   white-space: nowrap;
}
.btn--link:focus{
   box-shadow: 0 0 0 3px #c88
}
.a--link{
   white-space: nowrap;
   padding: 0.5rem 0.875rem;
   background-color: var(--faded-black);
   border-radius: 0.25rem;
   
}
.wrapper{
   background-color: var(--milk-white);
   max-width: 1500px;
   margin: 0 auto;
}
.logo{
   color: var(--primary-col);
   font-size: 1.3rem;
}
.header{
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   padding:1rem 1.5rem;
   background-color: #fff;
   z-index: 100;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.navigation{
background-color: inherit;

}
.navigation__list{
   display: flex;
}
.navigation__item{
   list-style: none;
   margin-right: 1rem;
}
.navigation__item-link{
   display: inline-block;
   padding: 0.875rem 1.5rem;
   text-transform: capitalize;
   font-weight: 500;
   margin: 0;
   color: var(--primary-col);
      font-size: 1.2rem;
border-radius: 3rem;
text-align: center;
}
.navigation__item-link:hover,
.navigation__item-link:focus{
   background-color: var(--primary-col);
   color: var(--white)
}
.section{
   margin: 2rem auto;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--white);
}
.section__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--primary-col);
   padding: 1rem 1.5rem ;
   text-transform: capitalize;
   color: var(--white);
}
.header__banner-container{
   /* height: 100vh; */
   max-height: 1300px;
   display: flex;
   width: 100%;
   overflow-x:auto;
   margin-bottom: 2rem;
}
.header--flex{
   min-height: 100%;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   padding: 5rem 0 1rem;
   flex-shrink: 0;
}
.header__banner{
   flex-shrink: 0;
   display:grid;
   width: 100%;
   /* justify-content: center; */
   align-items: center;
   padding: 3rem 0;
   grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
   position: relative;
   z-index: 0;
   /* height: 100%; */
   overflow: hidden;
}
.header__banner::before{
   content: "";
display: block;
position: absolute;
width: 30rem;
height: 40rem;
/* background:#000c url('../proto-images/pumpkin-soup-819x1024.jpg') no-repeat center/cover; */
background: var(--primary-col);
background-blend-mode: soft-light;
top: 0;
left: -10rem;
border-radius: 0 50rem 50rem 0;
}

.header__banner-content{
   padding:0.5rem 2rem;
   z-index: 2;
   background-color: #fff;
   max-width: 100%;
   
}
.header__banner-content-title{
   font-size:2.875rem;
   text-transform: uppercase;
   color: var(--primary-col);
   margin-bottom: 1.5rem;
}

.header__banner-image-box{
   width: 25rem;
   height: 25rem;
   max-width: 100%;
   border-radius: 50%;
   box-shadow:inset -20px -20px 20px #0004,inset 20px 20px 30px var(--primary-col);
   margin: 1rem;
   padding: 1rem;
   flex-shrink: 0;
   z-index: 3;
   justify-self: center;
   position: relative;
   background-color: var(--white);
}
.header__banner-image-box::before{
   content: "";
   position: absolute;
   width: 9rem;
   height: 9rem;
   border-radius: 50%;
   top: 0;
   right: -1rem;
   background: url('../proto-images/fish-1024x683.jpg') no-repeat center/cover;
box-shadow: 0 0 0 10px #fff
}
.header__banner-image-box::after{
   content: "";
   position: absolute;
   width: 9rem;
   height: 9rem;
   border-radius: 50%;
   bottom: 0;
   right: -1rem;
   background: url('../proto-images/pumpkin-soup-819x1024.jpg') no-repeat center/cover;
box-shadow: 0 0 0 10px #fff
}
.event__header-banner .header__banner-image-box::after{
background: url('../proto-images/beach-185076_1280.jpg') no-repeat center/cover;

}
.event__header-banner .header__banner-image-box::before{
background: url('../proto-images/miguel-angel-hernandez.jpg') no-repeat center/cover;

}
.header__banner-image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: inherit;
      
}
.header__banner-infomatics-wrapper{
  z-index: 4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem auto;
  padding:0 0.625rem;
}
.header__banner-infomatics{
   background-color: #fcfcfc;
   box-shadow:0 4px 8px #0002 ;
   min-width: 10rem;
   max-width: 100%;
   border-radius: 0.375rem;
   margin-bottom: 0.875rem;
   padding: 0.5rem;
   display: flex;
   font-size: 1rem;
   text-align: center;
}
.header__banner-infomatics-icon{
   width: 3rem;
   height: 3rem;
   background-color: var(--primary-col);
   border-radius: 50%;
   margin:auto 0.375rem;
   display: block;
   flex-shrink: 0;
}
.header__banner-infomatics-content-title{
   display: block;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 0.375rem;
   white-space: nowrap;
   text-align: center;
   color: var(--primary-col)
}
.event__header-banner{
   --primary-col:#AD175C;
}



.food__section,.event__section{
   padding: 1rem 0;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 0;
   overflow: hidden;
}
.event__section{
      --primary-col: #AD175C; 

}
.food__section-content,.event__section-content{
   padding: 2rem ;
}
.food__section-content-title,.event__section-content-title{
   color: var(--primary-col);
text-transform: uppercase;
margin-bottom: 1rem;
font-size: 1.875rem;
}
.food__section-image-box,.event__section-image-box{
   max-width: 100%;
   border-radius: 50%;
   height: 25rem;
   width: 25rem;
   box-shadow:inset -20px -20px 20px #0004,inset 20px 20px 30px var(--primary-col);
      padding: 1rem;
      position: relative;
      margin: 1rem auto;
background-color: var(--white);
}
.food__section-image-box::before,.event__section-image-box::before{
  content: "";
  position: absolute;
  width: 30rem;
  height: 20rem;
  background-color: var(--primary-col);
  top:50%;
  transform: translateY(-50%);  
  display: block;
  z-index: -1;
  max-height: 100%;
}
.food__section-image-box::before{
   right: -10rem;
   border-radius: 50% 0 0 50%;
}

.event__section-image-box::before{
   left: -11rem;
   border-radius:0 50% 50% 0;
   background-color: #AD175C;
}
.food__section-image,.event__section-image{
   object-fit: cover;
   height: 100%;
   width: 100%;
   border-radius: inherit;
}
.meal--slide-section{
   width: 100%;
}
.menu__slide-container{
   display: flex;
   flex-wrap: nowrap;
   overflow-x:auto;
   background-color: var(--milk-white);
   padding: 1rem;
   margin: 0 auto;
  max-width: 90%; 
  
}
.menu__slide-container::-webkit-scrollbar{
   width: 0px;
}
.menu__slide{
   width: 19rem;
   border-radius: 0.875rem;
   background-color: var(--white);
   flex-shrink: 0;
   margin:0 0.625rem;
   list-style: none;
   box-shadow: 0 10px 14px var(--faded-black);
   padding: 0.5rem;
}
.menu__slide-image-box{
   width: 100%;
   height: 14rem;
   border-radius: inherit;
}
.menu__slide-image{
   width: 100%;
   height: 100%;
   object-fit: cover;
      border-radius: inherit;
   border: 5px solid var(--primary-col);

}
.menu__slide-title{
   margin: 0.875rem 0 0.625rem;
   font-size: 1.25rem;
   font-weight: 400;
   display: block;
   text-transform: capitalize;
padding-left: 0.5rem;
font-weight: 600;
}
/* .menu__slide-price{
   font-weight: 600;
   font-size: 1.5rem;
   color: var(--primary-col);
   display:block;
   padding-left: 0.5rem;
} */
/* .menu__slide-star-rating{
   position: relative;
   display: inline-block;
   margin-top: 0.5rem;
   font-size: 1.3rem;
   width: 10rem;
} */
/* .menu__slide-star-rating::before{
   content: "\f005 \f005 \f005 \f005 \f005";
   display: inline-block;
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   font-variant: normal;
   color: var(--faded-black);
} */
/* .menu__slide-star-rating-inner {
   position: absolute;
   display: inline-block;
   height: 100%;
   top: 0;
   left: 0;
   width: 70%;
   overflow: hidden;
} */

/* .menu__slide-star-rating-inner::before {
   content: "\f005 \f005 \f005 \f005 \f005";
   display: inline-block;
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   font-variant: normal;
   color: var(--primary-col);
} */


@media all and (max-width: 500px){
   html{
      font-size: 14px;
   }
   .header__banner-image-box,.food__section-image-box,.event__section-image-box{
      width: 20rem;
      height: 20rem;
   }
   .header__banner::before{
      width: 22rem;
      height: 32rem;
   }
   .food__section-image-box::before,.event__section-image-box::before{
      height: 18rem;
      
   }
   .header__banner-infomatics{
      max-width: 18rem;
      text-align: center;
   }
   .header__banner-infomatics-content-title{
      white-space: normal;
   }
}
@media all and (max-width:800px){
   .navigation{
   position: fixed;
   height: 100vh;
   max-width: 400px;
   min-width: 65vw;
   background-color: #000;
   top: 0;
   right: 0;
   padding-top: 3rem;
   overflow-y: auto;
   display: none;
}
.navigation__list{
    flex-direction: column;
  
}
.navigation__item{
   margin-bottom: 1rem;
   
}
.navigation__item-link{
   display: block;
}
}